doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="/javascripts/dial.js")
    script.
      google.charts.load('current', {
        'packages': ['gauge']
      });
      google.charts.setOnLoadCallback(drawChart);

      var policySummary = !{JSON.stringify(policySummary)};
      var policySummaryWeek = !{JSON.stringify(policySummaryWeek)};
      var policySummaryMonth = !{JSON.stringify(policySummaryMonth)};

  body
    block content
    if policySummary.categoriesWithFinding
      a(href="/data") Know Your Data!
      p
        each val in policySummary.categoriesWithFinding
          a(href="/policytypes/" + val) #{val}
          br   

    if policySummary.triggeredPolicies
      a(href="/policytypes/" + policySummary.policyType + "/data") Know Your Data!
      p
        each val in policySummary.triggeredPolicies
          a(href="/" + val) #{val}
          br